.antlr
.classpath
.project
.settings
.vscode
.DS_Store
.idea/
target/
node_modules/
freelog-cg/freelog-cg.iml
freelog-cg/generated_grammar/
freelog-cg/grammar_templates/
freelog-cg/gen/
freelog-cg/javascript/
gen/
output
generated_grammars
