.antlr
.classpath
.project
.settings
.vscode

target/

node_modules/
.DS_Store
.idea/
freelog-cg/freelog-cg.iml
freelog-cg/generated_grammar/
freelog-cg/grammar_templates/
freelog-cg/gen/
freelog-cg/javascript/
gen/
